<hr />
<footer class="page-footer font-small special-color-dark pt-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <h5>Desarrollado por "Antonio Rodríguez Montilla"</h5>
      </div>

      <div class="col-md-6 mb-4">
        <h5>
          Codigo disponible en
          <i class="fab fa-github"style="color:#00897b;"></i
          ><a
            href="https://github.com/antonioCB14/Proyecto_Angular_AntonioCB14"
            target="_blank"
            style="color:#00897b;"
          >
            Github</a
          >
        </h5>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    © 2019 Copyright
  </div>
</footer>
